@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

html,
body{
	min-height: 100%;
}

html {
	position: relative;
}

body {
    display: block;
	padding: 0 0 100px;
}

/* Header */
h1 {
	position: absolute;
	text-indent: -3000px;
}

/* Brand Image */
.brandimg {
	display: block;
	margin: 10px auto;
}

/* Nav bar */
nav#navbarbtn {
	background: #fff;
	padding: 0;
	margin: 0;
	border: none;
	border-bottom: 3px solid #BEBEBE;
}

nav#navbarbtn ul {
	display: block;
	width: 50%;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

nav#navbarbtn ul li {
	width: 22%;
	float: left;
	list-style: none;
	text-align: center;
	margin-bottom: 10px;
}

nav#navbarbtn ul li:nth-child(3),
nav#navbarbtn ul li:nth-child(4){
	width: 28%;
}

nav#navbarbtn ul a {
	font-size: 20px;
	font-weight: 600;
	font-family: Arial, Tahoma, sans-serif;
	color: #5f5f5f;
	padding: 5px 15px;
}

nav#navbarbtn ul a:hover,
nav#navbarbtn ul a:focus {
	color: #FFFFFF; 
	background-color: #BEBEBE;
}

/* Homepage Slideshow Photos */
.slideshow {
	position: relative;
	margin-top: 35px;

}

.slideshow img {
	width: 95%;
	position: fixed;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index:-1;
	animation-name: photos;
	-webkit-animation-name: photos;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	opacity: 0;
	animation-duration: 4s;
	-webkit-animation-duration: 4s;
}

#img3 {
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
}

#img4 {
	animation-delay:4s;
	-webkit-animation-delay: 4s;
}

#img2 {
	animation-delay: 6s;
	-webkit-animation-delay:6s;
}

#img5 {
	animation-delay: 8s;
	-webkit-animation-delay:8s;
}

@-webkit-keyframes photos {
	0% {opacity: 0;}
	30% {opacity: 1;}
	70% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes photos {
	0% {opacity: 0;}
	30% {opacity: 1;}
	70% {opacity: 1;}
	100% {opacity: 0;}
}

/* All Pages */
main {
	position: relative;
	top: 35px;
	margin-bottom: 40px;
}

main.background {
	background-color: #e5e5e5;
	padding-top: 30px;
	padding-bottom: 30px;
}

main h2 {
	margin-bottom: 25px;
}

/* Salon */
.details {
	font-size: 18px;
	margin-left: 10px;
	margin-right: 10px;
}

.about {
	font-size: 1.3em;
	line-height: 1.5em;
	text-indent: 45px;
	text-align: justify;
	padding: 20px 10% 25px;

}

/* Image Zoom */
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 100;
}

#overlayContent {
	position: fixed;
	width: 100%;
	top: 100px;
	left: 0;
	text-align: center;
	display: none;
	overflow: hidden;
	z-index: 100;
}

#overlayContent img {
	width: 50%;
}

/* Services */
.servicesphoto {
	width: 80%;
	padding-top: 10%;
	padding-left: 10%; 	
}

.services {
	font-size: 1.3em;
	padding-top: 10px;
}

.services li {
	display: block;
	line-height: 30px; 
	border-bottom: thin solid #B0B0B0;
	text-align: left;
	padding-left: 20px;
}

.prices {
	font-size: 0.8em;
	float: right;
	padding-right: 20px;
}

/* Hairstyle */
#slider,
#slider-thumbs {
	padding-top: 20px;
}

#myCarousel {
	margin-left: 15px;
	margin-right: 15px;
}

.hide-bullets {
	list-style: none;
	margin-left: -40px;
}

.thumbnail {
	padding: 0;
}

.thumbnail img,
.active.item img {
	border-radius: 3px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
	width: 100%;
}

/* Footer */
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	padding-top: 20px;
}

.salonName {
	font-size: large;
	margin-bottom: 3px;
}

address {
	font-size: medium;
	margin-bottom: 5px;
}

footer p a,
footer p a:visited,
footer p a:active {
	color: #303030;
	text-decoration: none;
}

footer p a:hover {
	text-decoration: underline;
	color: #303030;
}


/***** Media Queries *****/
@media screen and (max-width: 1199px) {
	.brandimg {
		width: 220px;
	}
	nav#navbarbtn ul {
		width: 60%;
	}
}
@media screen and (max-width: 991px) {
	nav#navbarbtn ul {
		width: 70%;
	}
	/* Image Zoom */
	#overlayContent img {
		width: 75%;
	}
}
@media screen and (max-width: 879px) {

}
@media screen and (max-width: 767px) {
	.brandimg {
		width: 200px;
	}
	nav#navbarbtn ul {
		width: 80%;
	}
	.about {
		font-size: 19px;
		text-indent: 40px;
		padding-left: 7%;
		padding-right: 7%;
	}
	/* Image Zoom */
	#overlayContent img {
		width: 85%;
	}
	.services,
	.services ~ p {
		margin-left: 20px;
		margin-right: 20px;
	}
}
@media screen and (max-width: 668px) {
	nav#navbarbtn ul {
		width: 90%;
	}
}
@media screen and (max-width: 600px) {
	nav#navbarbtn ul {
		width: 95%;
	}
	nav#navbarbtn ul a {
		padding: 5px 10px;
	}
	/* Image Zoom */
	#overlayContent img {
		width: 90%;
	}
}
@media screen and (max-width: 550px) {
	.brandimg {
		width: 180px;
	}
	nav#navbarbtn ul {
		width: 100%;
	}
	.background h3 {
		font-size: 25px;
	}
	.about {
		font-size: 18px;
		line-height: 1.6em;
		text-indent: 30px;
	}
	/* Image Zoom */
	#overlayContent img {
		width: 95%;
	}
}
@media screen and (max-width: 500px) {
}
@media screen and (max-width: 450px) {
	nav#navbarbtn ul a {
		font-size: 18px;
	}
	.background h3 {
		font-size: 22px;
	}
	.details {
		font-size: 17px;
	}
	.services,
	.services ~ p {
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media screen and (max-width: 400px) {
	.brandimg {
		width: 160px;
	}
	nav#navbarbtn ul a {
		font-size: 16px;
	}
	.services,
	.services ~ p {
		margin-left: 5px;
		margin-right: 5px;
	}
	.services li {
		padding-left: 10px;
	}
	.prices {
		padding-right: 10px;
	}
	footer address {
		font-size: 14px;
	}
}
@media screen and (max-width: 350px) {
	nav#navbarbtn ul a {
		font-size: 14px;
	}
	.background h3 {
		font-size: 20px;
	}
	.details {
		font-size: 16px;
	}
	.about {
		font-size: 16px;
	}
	.services,
	.services ~ p {
		margin-left: 0;
		margin-right: 0;
	}
	footer p {
		font-size: 12px;
	}
}
