@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

html,
body{
	min-height: 100%;
}

html {
	position: relative;
}

body {
    display: block;
	padding: 0 0 100px;
}

/* Header */
nav {
	height: 140px;
}

/* Brand Image */
.brandimg {
	display: block;
	padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Nav bar */
.menuHolder {
	display: block;	
}
 
ul {
	display: block;
	font-size: 20px;
	font-family: Arial, Tahoma, sans-serif; 
	padding-top: 20px;	
	text-align: center;	
}

li {
	list-style: none;
	display: inline; 		
}

.menuHolder a {
	padding: 5px 30px;
}

.menuHolder a:hover,
a:focus {
	color: #FFFFFF; 
	background-color: #BEBEBE;
}

/* Homepage Slideshow Photos */
.container.slideshow {
	margin: 5% auto;
	width: 400px;
	height: 250px;
	position: relative;
	perspective: 1000px;
	-webkit-perspective: 1000px;
}

figure img {
	cursor: pointer;
	width: 100%;
	height: 100%;
}

#carousel {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 25s infinite linear;
}

#carousel:hover {
	animation-play-state: paused;
}

#carousel figure {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 10px;
	top: 10px;
	overflow: hidden;
	border: solid 5px #BEBEBE;
}

#carousel figure:nth-child(1) { transform: rotateY(0deg) translateZ(288px); }
#carousel figure:nth-child(2) { transform: rotateY(72deg) translateZ(288px); }
#carousel figure:nth-child(3) { transform: rotateY(144deg) translateZ(288px); }
#carousel figure:nth-child(4) { transform: rotateY(216deg) translateZ(288px); }
#carousel figure:nth-child(5) { transform: rotateY(288deg) translateZ(288px); }

@keyframes rotation {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}

/* All Pages */
.background {
	height: auto;
	background-image: url(img/background.jpg);
	background-attachment: fixed;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 30px;
 }

.indent {
	text-indent: 100px;
}

.top {
	padding-top: 10px;
}

/* Salon */
.about {
	font-size: 1.3em;
	line-height: 1.5em;
	text-indent: 50px;
	text-align: justify;
	padding: 20px 10%;

}

/* Services */
.servicesphoto {
	width: 80%;
	padding-top: 10%;
	padding-left: 10%; 	
}

.services {
	font-size: 1.3em;
}

.services li {
	display: block;
	line-height: 30px; 
	border-bottom: thin solid #B0B0B0;
	text-align: left;
	padding-left: 20px;
}

.prices {
	font-size: 0.8em;
	float: right;
	padding-right: 20px;
}

/* Hairstyle */
#slider {
	margin: 20px 0 25px;
}

.hide-bullets {
	list-style: none;
	margin-left: -40px;
	margin-top: 20px;
}

.thumbnail {
	padding: 0;
}

.thumbnail img, .active.item img {
	border-radius: 3px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
	width: 100%;
}

/* Footer */
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
}

.salonName {
	font-size: large;
}

address {
	font-size: medium;
}

footer p a {
	color: #303030;
	text-decoration: underline;
}

@media screen and (max-width: 1150px) {
	.container.slideshow {
		margin: 7% auto;
	}
}

@media screen and (max-width: 900px) {
	.container.slideshow {
		margin: 8% auto;
		width: 380px;
		height: 235px;
		perspective: 900px;
		-webkit-perspective: 900px;
	}
}

@media screen and (max-width: 800px) {
	.container.slideshow {
		margin: 10% auto;
		width: 360px;
		height: 225px;
		perspective: 800px;
		-webkit-perspective: 800px;
	}
}

@media screen and (max-width: 750px) {
	.about {
		font-size: 1.2em;
		padding-left: 7%;
		padding-right: 7%;
	}
}

@media screen and (max-width: 700px) {
	.container.slideshow {
		margin: 12% auto;
		width: 320px;
		height: 200px;
		perspective: 700px;
		-webkit-perspective: 700px;
	}
}

@media screen and (max-width: 600px) {
	.container.slideshow {
		margin: 16% auto;
		width: 280px;
		height: 175px;
		perspective: 600px;
		-webkit-perspective: 600px;
	}
}

@media screen and (max-width: 550px) {
	.container.slideshow {
		margin: 13% auto;
		width: 200px;
		height: 125px;
		perspective: 550px;
		-webkit-perspective: 550px;
	}
	.about {
		font-size: 1.1em;
	}
	.background h3 {
		font-size: 20px;
	}
	.background h4 {
		font-size: 18px;
	}
}

@media screen and (max-width: 450px) {
	.container.slideshow {
		margin: 13% auto;
		width: 140px;
		height: 90px;
		perspective: 450px;
		-webkit-perspective: 450px;
	}
	#carousel figure {
		border-width: 2px;
	}
	.about {
		font-size: 1em;
	}
	.background h3 {
		font-size: 18px;
	}
	.background h4 {
		font-size: 16px;
	}
	ul {
		font-size: 15px;
	}
	.menuHolder a {
		padding: 5px 15px;
	}
}

@media screen and (max-width: 350px) {
	.container.slideshow {
		margin: 15% auto;
		width: 120px;
		height: 75px;
		perspective: 350px;
		-webkit-perspective: 350px;
	}
	.about {
		font-size: 0.9em;
	}
	.background h3 {
		font-size: 16px;
	}
	.background h4 {
		font-size: 14px;
	}
}
