<!DOCTYPE html>
<html lang="en" ng-app="korona">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Services | Korona Hair Salon</title>
	<meta name="description" content="hair salon website">
	<meta name="keywords" content="website project, Bootstrap project, AngularJS project">
	<meta name="author" content="Bernadette Engleman">
	<link rel="shortcut icon" href="../../../img/beIcon.png">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/stylesheet.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>

<!-- Header -->
<header class="container-fluid">
	<h1>Korona Hair Salon</h1>

	<!-- Brand Image-->
	<img src="../img/korona.jpg" alt="Korona Hair Salon Logo" width="250" class="img-responsive brandimg">

	<!-- Menu -->
	<nav class="container-fluid" id="navbarbtn">
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="salon.html">Salon</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="hairstyle.html">Hairstyles</a></li>
		</ul>
	</nav>
</header>

<!-- Pricelist -->
<main class="container background">
	<h2 class="text-center">Services</h2>

	<div ng-controller="servicesController as service" class="row">
		<!-- Image -->
		<div class="col-md-3 hidden-sm hidden-xs">
			<img src="../img/services.jpg" alt="Services" class="servicesphoto">
		</div>

		<section ng-repeat="service in serviceslist" class="col-md-4 col-sm-6 col-xs-12">
			<h3 class="text-center">{{service.type | uppercase}}</h3>

			<ul class="services">
				<li ng-repeat="list in service.lists">{{list[0]}} <span class="prices">{{list[1]}}</span></li>
			</ul>

			<br>
			<p>{{service.info}}</p>
		</section>
	</div>
</main>

<!-- Footer -->
<footer class="container-fluid text-center">
	<p class="salonName">Korona Hair Salon</p>
	<address>45 Rockefeller Plaza, New York, NY 10111</address>
	<p><small>Copyright © <span id="year"></span> Korona Hair Salon. All rights reserved.<br>
		<span class="small">Designed and created by:
			<a href="../../../index.html" target="_blank">Bernadette Engleman</a><small>&#128279;</small>
		</span>
	</small></p>
</footer>

<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/korona.js"></script>
<!-- AngularJS App -->
<script src="../js/app.js"></script>

</body>

</html>
